<div style="margin-top: 16px; margin-bottom: 16px;">
  <h4>DAFTAR PENGADUAN</h4>
</div>
<div class="row">
  <div class="col-md-12" style="margin-bottom: 300px;">
    <!-- DATA TABLE-->
    <div class="table-responsive m-b-40">
      <table class="table table-borderless table-data3">
        <thead>
          <tr
            style="background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);"
          >
            <th>Nama Perusahaan PERS</th>
            <th>Judul Berita</th>
            <th>Edisi Terbit</th>
            <th>Catatan</th>
            <th>Status</th>
            <th>Detail Status Pengaduan</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
    <!-- END DATA TABLE                  -->
  </div>
</div>
