<div style="margin-top: 16px; margin-bottom: 16px;">
    <h4>DAFTAR KEPUTUSAN</h4>
</div>
  
  <div style="margin-top: 30px;">
    <input type="text" class="form-control" id="search_pengaduan" placeholder="Cari Data Pengaduan">
  </div>

  <div style="margin-top: 20px;">
    <form id="search_by_date">
      <div class="row">
        <div class="col-md-6">
           <div class="form-group">
             <label>Dari Tanggal</label>
             <input type="date" name="dari_tanggal" class="form-control">
           </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Sampai Tanggal</label>
            <input type="date" name="sampai_tanggal" class="form-control">
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-warning">CARI</button>
    </form>
  </div>
  
  <div class="row" style="margin-top: 10px;">
      <div class="col-md-12" style="margin-bottom: 430px;">
        <div class="table-data__tool">
          <div class="table-data__tool-left">
           
          </div>
          <div class="table-data__tool-right"></div>
        </div>
        <div class="table-responsive table-responsive-data2">
          <table class="table table-data2">
            <thead>
              <tr>
                <th>No</th>
                <th>No Surat Keputusan</th>
                <th>Perihal</th>
                <th>No. Pengadudan</th>
                <th>Judul Berita</th>
                <th>Nama Perusahaan Pers</th>
                <th>Status Pengaduan</th>
                <th></th>
              </tr>
            </thead>
            <tbody id="show__list__keputusan"></tbody>
          </table>
        </div>
        <!-- END DATA TABLE -->
      </div>
    </div>
  </div>
  <script defer src="<?= base_url('public/users/Authentication.js') ?>"></script>
  <script defer src="<?= base_url('public/myLib.js') ?>" ></script>
  <script defer src="<?= base_url('public/users/Notif.js') ?>" ></script>
  <script defer src="<?= base_url('public/users/keputusan.js') ?>" ></script>
  