<!-- BREADCRUMB-->
<section class="au-breadcrumb m-t-75">
  <div class="section__content section__content--p30">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="au-breadcrumb-content">
            <div class="au-breadcrumb-left">
              <span class="au-breadcrumb-span">You are here:</span>
              <ul class="list-unstyled list-inline au-breadcrumb__list">
                <li class="list-inline-item active">
                  <a href="#">Home</a>
                </li>
                <li class="list-inline-item seprate">
                  <span>/</span>
                </li>
                <li class="list-inline-item">Dashboard</li>
              </ul>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END BREADCRUMB-->

<div class="container" style="margin-top: 30px;" >
    <div class="row">
        <div class="col-md-6">
            <div class="au-card">
                <div class="au-card-inner">
                    <h3 class="title-2 m-b-40">Pengaduan</h3>
                    <canvas id="pengaduanChart"></canvas>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="au-card">
                <div class="au-card-inner">
                    <h3 class="title-2 m-b-40">Disposisi</h3>
                    <canvas id="disposisiChart"></canvas>
                </div>
            </div>
        </div>
    </div>
  </div>

<div class="container-fluid">
  <!-- STATISTIC-->
  <section class="statistic">
    <div class="section__content section__content--p30">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6 col-lg-3">
            <div class="statistic__item">
              <h2 class="number">10</h2>
              <span class="desc" style="color:black">Permohonan Pengaduan</span>
              <div class="icon">
                <i class="zmdi zmdi-account-o"></i>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="statistic__item">
              <h2 class="number">3</h2>
              <span class="desc" style="color:black">Daftar Pengadu</span>
              <div class="icon">
                <i class="zmdi zmdi-shopping-cart"></i>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="statistic__item">
              <h2 class="number">15</h2>
              <span class="desc" style="color: black">Keputusan Pengaduan</span>
              <div class="icon">
                <i class="zmdi zmdi-calendar-note"></i>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="statistic__item">
              <h2 class="number">6</h2>
              <span class="desc" style="color: black">Penugasan</span>
              <div class="icon">
                <i class="zmdi zmdi-money"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- END STATISTIC-->

  <section>
    <div class="section__content section__content--p30">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xl-8">
            
          </div>
          <div class="col-xl-4">
            
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="section__content section__content--p30">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xl-6">
            <!-- USER DATA-->
            <div class="user-data m-b-40">
              <h3 class="title-3 m-b-30">
                <i class="zmdi zmdi-account-calendar"></i>Daftar Pengadu
              </h3>
              <div class="filters m-b-45">
                <div
                  class="rs-select2--dark rs-select2--md m-r-10 rs-select2--border"
                >
                  <select class="js-select2" name="property">
                    <option selected="selected">All Properties</option>
                    <option value="">Products</option>
                    <option value="">Services</option>
                  </select>
                  <div class="dropDownSelect2"></div>
                </div>
                <div class="rs-select2--dark rs-select2--sm rs-select2--border">
                  <select class="js-select2 au-select-dark" name="time">
                    <option selected="selected">All Time</option>
                    <option value="">By Month</option>
                    <option value="">By Day</option>
                  </select>
                  <div class="dropDownSelect2"></div>
                </div>
              </div>
              <div class="table-responsive table-data">
                <table class="table">
                  <thead>
                    <tr>
                      <td>
                        <label class="au-checkbox">
                          <input type="checkbox" />
                          <span class="au-checkmark"></span>
                        </label>
                      </td>
                      <td>name</td>
                      <td>role</td>
                      <td>type</td>
                      <td></td>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <label class="au-checkbox">
                          <input type="checkbox" />
                          <span class="au-checkmark"></span>
                        </label>
                      </td>
                      <td>
                        <div class="table-data__info">
                          <h6>lori lynch</h6>
                          <span>
                            <a href="#">johndoe@gmail.com</a>
                          </span>
                        </div>
                      </td>
                      <td>
                        <span class="role admin">admin</span>
                      </td>
                      <td>
                        <div class="rs-select2--trans rs-select2--sm">
                          <select class="js-select2" name="property">
                            <option selected="selected">Full Control</option>
                            <option value="">Post</option>
                            <option value="">Watch</option>
                          </select>
                          <div class="dropDownSelect2"></div>
                        </div>
                      </td>
                      <td>
                        <span class="more">
                          <i class="zmdi zmdi-more"></i>
                        </span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <label class="au-checkbox">
                          <input type="checkbox" checked="checked" />
                          <span class="au-checkmark"></span>
                        </label>
                      </td>
                      <td>
                        <div class="table-data__info">
                          <h6>lori lynch</h6>
                          <span>
                            <a href="#">johndoe@gmail.com</a>
                          </span>
                        </div>
                      </td>
                      <td>
                        <span class="role user">user</span>
                      </td>
                      <td>
                        <div class="rs-select2--trans rs-select2--sm">
                          <select class="js-select2" name="property">
                            <option value="">Full Control</option>
                            <option value="" selected="selected">Post</option>
                            <option value="">Watch</option>
                          </select>
                          <div class="dropDownSelect2"></div>
                        </div>
                      </td>
                      <td>
                        <span class="more">
                          <i class="zmdi zmdi-more"></i>
                        </span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <label class="au-checkbox">
                          <input type="checkbox" />
                          <span class="au-checkmark"></span>
                        </label>
                      </td>
                      <td>
                        <div class="table-data__info">
                          <h6>lori lynch</h6>
                          <span>
                            <a href="#">johndoe@gmail.com</a>
                          </span>
                        </div>
                      </td>
                      <td>
                        <span class="role user">user</span>
                      </td>
                      <td>
                        <div class="rs-select2--trans rs-select2--sm">
                          <select class="js-select2" name="property">
                            <option value="">Full Control</option>
                            <option value="" selected="selected">Post</option>
                            <option value="">Watch</option>
                          </select>
                          <div class="dropDownSelect2"></div>
                        </div>
                      </td>
                      <td>
                        <span class="more">
                          <i class="zmdi zmdi-more"></i>
                        </span>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <label class="au-checkbox">
                          <input type="checkbox" />
                          <span class="au-checkmark"></span>
                        </label>
                      </td>
                      <td>
                        <div class="table-data__info">
                          <h6>lori lynch</h6>
                          <span>
                            <a href="#">johndoe@gmail.com</a>
                          </span>
                        </div>
                      </td>
                      <td>
                        <span class="role member">member</span>
                      </td>
                      <td>
                        <div class="rs-select2--trans rs-select2--sm">
                          <select class="js-select2" name="property">
                            <option selected="selected">Full Control</option>
                            <option value="">Post</option>
                            <option value="">Watch</option>
                          </select>
                          <div class="dropDownSelect2"></div>
                        </div>
                      </td>
                      <td>
                        <span class="more">
                          <i class="zmdi zmdi-more"></i>
                        </span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="user-data__footer">
                <button class="au-btn au-btn-load">load more</button>
              </div>
            </div>
            <!-- END USER DATA-->
          </div>
          <div class="col-xl-6">
            <!-- MAP DATA-->
            <div class="map-data m-b-40">
              <h3 class="title-3 m-b-30">
                <i class="zmdi zmdi-map"></i>Pengaduan
              </h3>
              <div class="filters">
                <div
                  class="rs-select2--dark rs-select2--md m-r-10 rs-select2--border"
                >
                  <select class="js-select2" name="property">
                    <option selected="selected">All Worldwide</option>
                    <option value="">Products</option>
                    <option value="">Services</option>
                  </select>
                  <div class="dropDownSelect2"></div>
                </div>
                <div class="rs-select2--dark rs-select2--sm rs-select2--border">
                  <select class="js-select2 au-select-dark" name="time">
                    <option selected="selected">All Time</option>
                    <option value="">By Month</option>
                    <option value="">By Day</option>
                  </select>
                  <div class="dropDownSelect2"></div>
                </div>
              </div>
              <div class="map-wrap m-t-45 m-b-80">
                <div id="vmap" style="height: 284px;"></div>
              </div>
              <div class="table-wrap">
                <div class="table-responsive table-style1">
                  <table class="table">
                    <tbody>
                      <tr>
                        <td>United States</td>
                        <td>$119,366.96</td>
                      </tr>
                      <tr>
                        <td>Australia</td>
                        <td>$70,261.65</td>
                      </tr>
                      <tr>
                        <td>United Kingdom</td>
                        <td>$46,399.22</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="table-responsive table-style1">
                  <table class="table">
                    <tbody>
                      <tr>
                        <td>Germany</td>
                        <td>$20,366.96</td>
                      </tr>
                      <tr>
                        <td>France</td>
                        <td>$10,366.96</td>
                      </tr>
                      <tr>
                        <td>Russian</td>
                        <td>$5,366.96</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <!-- END MAP DATA-->
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<script src="<?= base_url('public/tu/Notifications.js') ?>" ></script>
<script>
    
    
    
    
    </script>
    <script defer src="<?= base_url('public/myLib.js') ?>" ></script>
    <script src="<?= base_url('public/tu/dashboard.js') ?>" ></script>