<!-- BREADCRUMB-->
<section class="au-breadcrumb m-t-75">
  <div class="section__content section__content--p30">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="au-breadcrumb-content">
            <div class="au-breadcrumb-left">
              <span class="au-breadcrumb-span">You are here:</span>
              <ul class="list-unstyled list-inline au-breadcrumb__list">
                <li class="list-inline-item active">
                  <a href="#">Home</a>
                </li>
                <li class="list-inline-item seprate">
                  <span>/</span>
                </li>
                <li class="list-inline-item">Dashboard</li>
              </ul>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END BREADCRUMB-->

<div class="container" style="margin-top: 30px;" >
    <div class="row">
        <div class="col-md-6 animated bounceIn">
            <div class="au-card">
                <div class="au-card-inner">
                    <h3 class="title-2 m-b-40">Pengaduan</h3>
                    <canvas id="pengaduanChart"></canvas>
                </div>
            </div>
        </div>
        <div class="col-md-6 animated bounceIn">
            <div class="au-card">
                <div class="au-card-inner">
                    <h3 class="title-2 m-b-40">Disposisi</h3>
                    <canvas id="disposisiChart"></canvas>
                </div>
            </div>
        </div>
    </div>
  </div>

<div class="container-fluid">
  <!-- STATISTIC-->
  <section class="statistic animated fadeInLeft">
    <div class="section__content section__content--p30">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6 col-lg-3">
            <div class="statistic__item">
              <h2 class="number" id="total__pengaduan"></h2>
              <span class="desc" style="color:black">Daftar Pengaduan</span>
              <div class="icon">
                <i class="zmdi zmdi-account-o"></i>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="statistic__item">
              <h2 class="number" id="total__pengadu"></h2>
              <span class="desc" style="color:black">Daftar Pengadu</span>
              <div class="icon">
                <i class="zmdi zmdi-shopping-cart"></i>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="statistic__item">
              <h2 class="number" id="total__keputusan"></h2>
              <span class="desc" style="color: black">Keputusan</span>
              <div class="icon">
                <i class="zmdi zmdi-calendar-note"></i>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-3">
            <div class="statistic__item">
              <h2 class="number" id="total__penugasan" ></h2>
              <span class="desc" style="color: black">Penugasan</span>
              <div class="icon">
                <i class="zmdi zmdi-money"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- END STATISTIC-->

  <section>
    <div class="section__content section__content--p30">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xl-8">
            
          </div>
          <div class="col-xl-4">
            
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="section__content section__content--p30">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xl-6">
            <!-- USER DATA-->
            <div class="user-data m-b-40">
              <h3 class="title-3 m-b-30">
                <i class="zmdi zmdi-account-calendar"></i>Daftar Pengadu
              </h3>
              <div class="filters m-b-45">
                <div
                  class="rs-select2--dark rs-select2--md m-r-10 rs-select2--border"
                >
                  
                  <div class="dropDownSelect2"></div>
                </div>
                <div class="rs-select2--dark rs-select2--sm rs-select2--border">
                  
                  <div class="dropDownSelect2"></div>
                </div>
              </div>
              <div class="table-responsive table-data">
                <table class="table">
                  <thead>
                    <tr>
                      <td>No</td>
                      <td>Nama</td>
                      <td>Status</td>
                      <td>Alamat</td>
                      <td></td>
                    </tr>
                  </thead>
                   <tbody id="list__pengadu">
                     
                    <!-- <tr>
                      <td>
                        <div class="table-data__info">
                          <h6>lori lynch</h6>
                          <span>
                            <a href="#">johndoe@gmail.com</a>
                          </span>
                        </div>
                      </td>
                      <td>
                        <span class="role admin">admin</span>
                      </td>
                      <td>
                        
                      </td>
                      <td>
                        <span class="more">
                          <i class="zmdi zmdi-more"></i>
                        </span>
                      </td>
                    </tr> -->
                  
                  </tbody>
                </table>
              </div>
              <div class="user-data__footer">
                <a href="#/pengadu" class="au-btn au-btn-load">Lihat Semua Pengadu</a>
              </div>
            </div>
            <!-- END USER DATA-->
          </div>
          <div class="col-xl-6">
            <div class="user-data m-b-40">
              <h3 class="title-3 m-b-30">
                <i class="zmdi zmdi-account-calendar"></i>Daftar Pengaduan
              </h3>
              <div class="filters m-b-45">
                <div
                  class="rs-select2--dark rs-select2--md m-r-10 rs-select2--border"
                >
                  
                  <div class="dropDownSelect2"></div>
                </div>
                <div class="rs-select2--dark rs-select2--sm rs-select2--border">
                  
                  <div class="dropDownSelect2"></div>
                </div>
              </div>
              <div class="table-responsive table-data">
                <table class="table">
                  <thead>
                    <tr>
                      <td>No</td>
                      <td>ID Pengaduan</td>
                      <td>Judul Berita</td>
                      <td>Perusahaan Pers</td>
                      <td></td>
                    </tr>
                  </thead>
                   <tbody id="list__pengaduan">
                     
                    <!-- <tr>
                      <td>
                        <div class="table-data__info">
                          <h6>lori lynch</h6>
                          <span>
                            <a href="#">johndoe@gmail.com</a>
                          </span>
                        </div>
                      </td>
                      <td>
                        <span class="role admin">admin</span>
                      </td>
                      <td>
                        
                      </td>
                      <td>
                        <span class="more">
                          <i class="zmdi zmdi-more"></i>
                        </span>
                      </td>
                    </tr> -->
                  
                  </tbody>
                </table>
              </div>
              <div class="user-data__footer">
                <a href="#/pengadu" class="au-btn au-btn-load">Lihat Semua Pengaduan</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<script src="<?= base_url('public/tu/Notifications.js') ?>" ></script>
<script>
    
    
    
    
    </script>
    <script defer src="<?= base_url('public/myLib.js') ?>" ></script>
    <script src="<?= base_url('public/tu/dashboard.js') ?>" ></script>