<section class="au-breadcrumb m-t-75">
    <div class="section__content section__content--p30">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="au-breadcrumb-content">
              <div class="au-breadcrumb-left">
                <span class="au-breadcrumb-span">You are here:</span>
                <ul class="list-unstyled list-inline au-breadcrumb__list">
                  <li class="list-inline-item active">
                    <a href="#">Dashboard</a>
                  </li>
                  <li class="list-inline-item seprate">
                    <span>/</span>
                  </li>
                  <li class="list-inline-item">Detail Keputusan</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

 <div class="main-content">

    <div class="container-fluid">
        <h4>Detail Keputusan</h4>

        <div class="card" style="margin-top: 30px;">
            <div class="card-body">
                <table class="table table-hover">
                    <tr>
                        <th>No. Surat Keputusan</th>
                        <td class="no_keputusan"> <?= $_GET['id'] ?> </td>
                    </tr>
                    <tr>
                        <th>Tanggal Keputusan</th>
                        <td class="tgl_keputusan" ></td>
                    </tr>
                    <tr>
                        <th>Lampiran</th>
                        <td class="lampiran"></td>
                    </tr>
                    <tr>
                        <th>Perihal</th>
                        <td class="perihal"></td>
                    </tr>
                   
                </table>
            </div>
            
        </div>

        <h4>Detail Pengaduan</h4>

        <div class="card" style="margin-top: 30px;">
            <div class="card-body">
                <table class="table table-hover">
                    <tr>
                        <th>No. Pengaduan</th>
                        <td class="no_pengaduan"></td>
                    </tr>
                    <tr>
                        <th>Nama Perusahaan Pers</th>
                        <td class="nama_perusahaan_pers"></td>
                    </tr>
                    <tr>
                        <th>Judul Berita</th>
                        <td class="judul_berita"></td>
                    </tr>
                    <tr>
                        <th>Edisi Penerbitan</th>
                        <td class="edisi_penerbitan" ></td>
                    </tr>
                    <tr>
                        <th>Catatan</th>
                        <td class="catatan"></td>
                    </tr>
                    <tr>
                        <th>Nama Pengadu</th>
                        <td class="nama_pengadu"></td>
                    </tr>
                    <tr>
                        <th>Email Pengadu</th>
                        <td class="email_pengadu"></td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="row " style="margin-top: 30px;">
            <div class="col-md-12" style="margin-bottom: 630px;">
              <h4>BUKTI PENGADUAN</h4>
              <div class="row buktipengaduan" style="margin-top: 30px;"></div>
            </div>
          </div>

    </div>
 </div>

 <script>
     var ID = '<?= $_GET["id"] ?>';
 </script>
 <script defer src="<?= base_url('public/myLib.js') ?>" ></script>
 <script defer src="<?= base_url('public/general/detail_keputusan.js') ?>"></script>