<section class="au-breadcrumb m-t-75">
  <div class="section__content section__content--p30">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="au-breadcrumb-content">
            <div class="au-breadcrumb-left">
              <span class="au-breadcrumb-span">You are here:</span>
              <ul class="list-unstyled list-inline au-breadcrumb__list">
                <li class="list-inline-item active">
                  <a href="#">Dashboard</a>
                </li>
                <li class="list-inline-item seprate">
                  <span>/</span>
                </li>
                <li class="list-inline-item">Pengaduan baru</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- END BREADCRUMB-->
<div class="container-fluid" style="margin-top: 50px;">
  <div style="margin-top: 16px; margin-bottom: 16px;">
    <h4>NO. PENGADUAN :</h4>

    <table class="table" style="margin-top: 40px;">
      <tr>
        <th>Dikirim Oleh :</th>
        <td class="email_pengirim"></td>
      </tr>
      <tr>
        <th>Nama Pengadu</th>
        <td class="nama_pengadu"></td>
      </tr>
      <tr>
        <th>Alamat</th>
        <td class="alamat_pengadu"></td>
      </tr>
      <tr>
        <th>Tanggal Terdaftar</th>
        <td class="tanggal_terdaftar"></td>
      </tr>
    </table>
  </div>

  <div class="row" style="margin-top: 100px;">
    <div class="col-md-12">
      <div class="table-data__tool">
        <div class="table-data__tool-left"></div>
        <div class="table-data__tool-right">
          <button
            class="au-btn au-btn-icon au-btn--blue au-btn--small btn__buat__disposisi"
          >
            <i class="zmdi zmdi-plus"></i>Buat Disposisi
          </button>
        </div>
      </div>
      <div class="table-responsive table-responsive-data2">
        <table class="table table-data2">
          <thead>
            <tr>
              <th>No. Pengaduan</th>
              <th>Nama Perusahaan PERS</th>
              <th>Judul Berita</th>
              <th>Edisi Penerbitan</th>
              <th>Catatan</th>
            </tr>
          </thead>
          <tbody id="show__list__pengaduan__baru"></tbody>
        </table>
      </div>
      <!-- END DATA TABLE -->
    </div>
  </div>

  <div class="row container-fluid" style="margin-top: 100px;">
    <div class="col-md-12" style="margin-bottom: 630px;">
      <h4>BUKTI PENGADUAN</h4>
      <div class="row buktipengaduan" style="margin-top: 30px;"></div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="modalDisposisi"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content ">
      <div class="modal-header">
        <h5 class="modal-title" id="modalKaryawan">Buat Disposisi</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="content-modal">
        <form id="form-add-disposisi">
          <div class="form-group">
            <label>No. Pengaduan</label>
            <input
              type="text"
              name="id_pengaduan"
              class="form-control id_pengaduan"
              value="<?= $_GET['number_secret'] ?>"
              readonly
            />
          </div>
          <div class="form-group">
            <label>Petugas</label>
             <select name="id_petugas" class="form-control petugas" id="show_petugas">
                 
             </select>
          </div>
          <div class="form-group">
                <label>Jenis Tugas</label>
                 <select name="jenis_tugas" class="form-control" id="show_jenis_tugas">
                 </select>
          </div>
          <div class="form-group">
              <label>Catatan</label>
              <textarea name="catatan_disposisi" class="form-control catatan-disposisi" cols="30" rows="10"></textarea>
          </div>
        
          <button
            type="submit"
            class="au-btn au-btn-icon au-btn--blue au-btn--small"
            id="btn__on__save"
          >
            SIMPAN
          </button>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>



<script>
  var NUMBER_SECRET = '<?= $_GET["number_secret"] ?>';
</script>
<script defer src="<?= base_url('public/Authentication.js') ?>"></script>
<script defer src="<?= base_url('public/myLib.js') ?>"></script>
<script defer src="<?= base_url('public/tu/newPengaduan.js') ?>"></script>
