<!-- BREADCRUMB-->
<section class="au-breadcrumb m-t-75">
        <div class="section__content section__content--p30">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">
                <div class="au-breadcrumb-content">
                  <div class="au-breadcrumb-left">
                    <span class="au-breadcrumb-span">You are here:</span>
                    <ul class="list-unstyled list-inline au-breadcrumb__list">
                      <li class="list-inline-item active">
                        <a href="#">Dashboard</a>
                      </li>
                      <li class="list-inline-item seprate">
                        <span>/</span>
                      </li>
                      <li class="list-inline-item">Pengaduan</li>
                    </ul>
                  </div>
                 
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- END BREADCRUMB-->
      
      <div class="container-fluid" style="margin-top: 50px;">
        <div style="margin-top: 16px; margin-bottom: 16px;">
          <h4>DAFTAR PENGADU</h4>
        </div>
      
        <div class="" style="margin-top: 100px;">
          <input
            type="text"
            name="search_pengaduan"
            id="search_pengaduan"
            class="form-control"
            placeholder="Cari Data Pengadu "
          />
        </div>
      
        <div class="row" style="margin-top: 50px;">
          <div class="col-md-12">
            <!-- DATA TABLE-->
            <div class="table-responsive m-b-40">
              <table class="table table-borderless table-data3">
                <thead>
                  <tr
                    style="background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);"
                  >
                    <th>ID Terdaftar</th>
                    <th>Email</th>
                    <th>Alamat</th>
                    <th>Nama</th>
                    <th>Tanggal Terdaftar</th>
                    <th>Status Akun</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                 <tr>
                     <td>2019/001</td>
                     <td>hilam@gmail.com</td>
                     <td>Jl. Jakarta Pusat</td>
                     <td>Hilam Torik</td>
                     <td>3 Juli 2019</td>
                     <td>Aktif</td>
                     <td>
                            <button class="btn btn-danger">Hapus</button>
                            <button class="btn btn-info">Edit</button>
                     </td>
                 </tr>
                </tbody>
              </table>
            </div>
            <!-- END DATA TABLE                  -->
          </div>
        </div>
      </div>
      