<section class="au-breadcrumb m-t-75">
    <div class="section__content section__content--p30">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="au-breadcrumb-content">
              <div class="au-breadcrumb-left">
                <span class="au-breadcrumb-span">You are here:</span>
                <ul class="list-unstyled list-inline au-breadcrumb__list">
                  <li class="list-inline-item active">
                    <a href="#">Dashboard</a>
                  </li>
                  <li class="list-inline-item seprate">
                    <span>/</span>
                  </li>
                  <li class="list-inline-item">Daftar Keputusan</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- END BREADCRUMB-->
  <div class="container-fluid" style="margin-top: 50px;">
    <div style="margin-top: 16px; margin-bottom: 16px;">
      <h4>DAFTAR KEPUTUSAN</h4>
    </div>
    <div class="" style="margin-top: 50px;">
      <input
        type="text"
        name="search_pengaduan"
        id="search_pengaduan"
        class="form-control"
        placeholder="Cari Berdasarkan Nama Pengadu "
      />
    </div>
  
    <div class="row" style="margin-top: 100px;">
      <div class="col-md-12" style="margin-bottom: 530px;">
        <div class="table-data__tool">
          <div class="table-data__tool-left">
           
          </div>
          <div class="table-data__tool-right"></div>
        </div>
        <div class="table-responsive table-responsive-data2">
          <table class="table table-data2">
            <thead>
              <tr>
                <th>No</th>
                <th>No. Surat Keputusan</th>
                <th>No. Pengaduan</th>
                <th>Tanggal Keputusan</th>
                <th>Nama Pengadu</th>
                <th>Judul Berita</th>
                <th>Perusahaan Pers</th>
                <th></th>
              </tr>
            </thead>
            <tbody id="show__list__keputusan"></tbody>
          </table>
        </div>
        <!-- END DATA TABLE -->
      </div>
    </div>
  </div>
  
  <div
    class="modal fade"
    id="modalAdd"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content ">
        <div class="modal-header">
          <h5 class="modal-title" id="modalKaryawan">Tambah Penugasan</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="content-modal">
          <form id="form-add">
            <div class="form-group">
              <label>Bagian Penugasan</label>
              <input
                type="text"
                name="bagian"
                class="form-control"
                id="bagian"
              />
            </div>
  
            <button
              type="submit"
              class="au-btn au-btn-icon au-btn--blue au-btn--small"
              id="btn__addOnModal"
            >
              SIMPAN
            </button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-info" data-dismiss="modal">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
  
  <div
    class="modal fade"
    id="modalDelete"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content ">
        <div class="modal-header">
          <h5 class="modal-title" id="modalKaryawan">Konfirmasi</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="content-modal">
          <form id="form-delete">
            <input type="hidden" name="id_petugas" class="form-control id_petugas" />
            <button
              class="au-btn au-btn-icon au-btn--blue au-btn--small btn-block"
              id="btn__deleteOnModal"
            >
              DELETE
            </button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-info" data-dismiss="modal">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
  
  <div
    class="modal fade"
    id="modalEdit"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content ">
        <div class="modal-header">
          <h5 class="modal-title" id="modalKaryawan">Edit Penugasan</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="content-modal">
          <form id="form-update">
            <div class="form-group">
              <label></label>
              <input
                type="hidden"
                name="id_petugas"
                class="form-control"
                id="id_petugas_edit"
                readonly
              />
            </div>
            <div class="form-group">
              <label>Bagian Penugasan</label>
              <input
                type="text"
                name="bagian"
                class="form-control"
                id="bagian_edit"
              />
            </div>
          
            <button
              type="submit"
              class="au-btn au-btn-icon au-btn--blue au-btn--small"
              id="btn__updateOnModal"
            >
              UPDATE
            </button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-info" data-dismiss="modal">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
  
  <script defer src="<?= base_url('public/Authentication.js') ?>"></script>
  <script defer src="<?= base_url('public/myLib.js') ?>"></script>
  <script defer src="<?= base_url('public/general/keputusan.js') ?>"></script>